{# Hériter une vue #}
{% extends 'base.html.twig' %}

{# surcharger des block. modifier ce qu'il y as pas defaut #}

{% block title %}
Blog La Manu
{% endblock %}

{% block slider %}

    <div class="slider">
        <div class="slider-content">
            <h2>Bienvenue sur le blog La Manu</h2>
            <p>Plusieurs article publié chaque jour !</p>
            <a href="#articles" target="_blank">
                <button class="btn">consulter</button>
            </a>
        </div>
    </div>

{% endblock %}
{% block body %}

    <div class="articles-infos badge" style="margin-bottom: 18px;">
        <strong>{{articles | length}}</strong>articles retrouvés
    </div>

    <div class="articles" id="articles">
        {% for article in articles %}
            <a href="/article/{{article.slug}}" class="article-item">
                <div class="article-image">
                    <img src={{article.imageUrl}} width="300" height="300" alt="Image de l'article : {{article.title }}">
                </div>
                <div class="article-details flex">
                    <div class="article-author-details">
                        <div class="article-author-picture">
                            <img src={{article.author.profile.picture}} width="50" height="50" alt="image de profile de {{article.author.fullname}}">
                        </div>
                    </div>
                    <div class="article-content-details">
                        <h2 class="article-title">{{article.title}} </h2>
                        <div class="article-createdAt">
                            {{article.fromNow}}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}