{# Hériter une vue #}
{% extends 'base.html.twig' %}

{# surcharger des block. modifier ce qu'il y as pas defaut #}

{% block title %}
Blog La Manu
{% endblock %}

{% block slider %}

    <div class="slider">
        <div class="slider-content">
            <div class="slideshow">
                <input type="radio" name="slideshow" id="slide_img1" class="slide">
                <input type="radio" name="slideshow" id="slide_img2" class="slide">
                <input type="radio" name="slideshow" id="slide_img3" class="slide">
                <input type="radio" name="slideshow" id="slide_img4" class="slide">
                <input type="radio" name="slideshow" id="play_img1" checked>
                <input type="radio" name="slideshow" id="pause_img1" class="pause">
                <input type="radio" name="slideshow" id="pause_img2" class="pause">
                <input type="radio" name="slideshow" id="pause_img3" class="pause">
                <input type="radio" name="slideshow" id="pause_img4" class="pause">
                <ul>
                    <img src="/assets/images/slider.jpg" alt="image slider">

                    <li class="img1">
                        <img src="/assets/images/developpeur-web.webp" alt="image slider1">
                    </li>

                    <li class="img2">
                        <img src="/assets/images/gestion.jpg" alt="image slider2">
                    </li>

                    <li class="img3">
                        <img src="/assets/images/marketing.jpg" alt="image slider3">
                    </li>

                    <li class="img4">
                        <img src="/assets/images/SystemeReseau.jpg" alt="image slider4">
                    </li>

                </ul>

                <div class="play_pause">
                    <label for="play_img1" class="play"></label>
                    <label for="pause_img1" class="pause img1"></label>
                    <label for="pause_img2" class="pause img2"></label>
                    <label for="pause_img3" class="pause img3"></label>
                    <label for="pause_img4" class="pause img4"></label>
                </div>

                <div class="precedent">
                    <label for="slide_img1" class="img1"></label>
                    <label for="slide_img2" class="img2"></label>
                    <label for="slide_img3" class="img3"></label>
                    <label for="slide_img4" class="img4"></label>
                </div>

                <div class="suivant">
                    <label for="slide_img1" class="img1"></label>
                    <label for="slide_img2" class="img2"></label>
                    <label for="slide_img3" class="img3"></label>
                    <label for="slide_img4" class="img4"></label>
                </div>

                <div class="puces">
                    <label for="slide_img1" class="img1">
                        <span class="actif_puces"></span>
                    </label>
                    <label for="slide_img2" class="img2">
                        <span class="actif_puces"></span>
                    </label>
                    <label for="slide_img3" class="img3">
                        <span class="actif_puces"></span>
                    </label>
                    <label for="slide_img4" class="img4">
                        <span class="actif_puces"></span>
                    </label>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block body %}

    <div class="articles-infos badge" style="margin-bottom: 18px;">
        <strong>{{articles | length}}</strong>articles retrouvés
    </div>

    <div class="articles" id="articles">
        {% for article in articles %}
            <a href="/article/{{article.slug}}" class="article-item">
                <div class="article-image">
                    <img src={{article.imageUrl}} width="300" height="300" alt="Image de l'article : {{article.title }}">
                </div>
                <div class="article-details flex">
                    <div class="article-author-details">
                        <div class="article-author-picture">
                        {% if article.author.profile.picture is defined %}
                            <img src={{article.author.profile.picture}} alt="image de profile de {{article.author.fullname}}">
                            {% else %}
                            <img src="/assets/images/avatar_jstore.webp" alt="image de profile de {{article.author.fullname}}">
                        {% endif %}
                        </div>
                    </div>
                    <div class="article-content-details">
                        <h2 class="article-title">{{article.title}} </h2>
                        <div class="article-createdAt">
                            {{article.fromNow}}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}